
<%- include('../includes/head.ejs') %>

   <link rel="stylesheet" href="/css/main.css" type="text/css" media="all" />
  </head>
  <body>
  <h1>products works!</h1>
            <%- include('../includes/navigation.ejs') %>
            <%- include('../includes/end.ejs') %>

