doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title #{pageTitle}
    link(rel='stylesheet' href='/css/main.css' type='text/css' media='all')
    block style
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
              a(href='/', class=(path === 'shop' ? 'active': '')) Shop
          li.main-header__item
            a(href='/admin/add-product', class=(path === 'admin' ? 'active':'')) Add Product 
    block content
