doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Page Not Found
    link(rel='stylesheet' href='/css/main.css' type='text/css' media='all')
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a(href='/') Shop
          li.main-header__item
            a(href='/admin/add-product') Add Product 
    h1 Page not Found!

