html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #dbc441;
  padding: 0 1.5rem;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #6200ff;
}

.grid{
    display: flex;
}

.card{
    flex-direction: column;
    display: flex;
    min-width: 300px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 8px 6px 8px #eee;
    border-radius: 10px;

}
.cart__image{
    min-height: 240px;
    
}
.cart__image img{
    width: 100%;
    height: 240px;
} 


