html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
main {
  padding: 1rem;
}
.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #dbc441;
  padding: 0 1.5rem;
}
.main-header__nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #6200ff;
}

.grid{
    display: flex;
}

.card{
    flex-direction: column;
    display: flex;
    min-width: 300px;
    text-align: center;
    border: 1px solid #eee;
    box-shadow: 8px 6px 8px #eee;
    border-radius: 10px;


}
.cart__image{
    min-height: 240px;
    
}
.cart__image img{
    width: 100%;
    height: 240px;
} 


.cart__action, button {
  font: inherit;
  margin: 5px
  border: 1px solid #3e00a1;
  color: #3e00a1;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.cart__action button:hover,
button:active {
  background-color: #3e00a1;
  color: white;
}

.card form{
    display: inline-block;
}

.btn{
     margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    text-decoration: none;
    border: 1px solid #eee;
    color: #3e00a1;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

.btn:hover,
.btn:active {
  background-color: #3e00a1;
  color: white;
}

.center{
    text-align: center;
}
.center img{
    max-width: 300px;
}

.center h1{
    border-bottom: 1px solid ;
}

